body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: grey;
}

.app {
    background-image: url(./abstract-background-electric-blue-flowing-waves_1048-11815.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 100px 0;
    margin: 5px;
    border-radius: 10px;

    
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
}

#wrapper {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button,edit {
    padding: 10px 15px;
    font-size: 16px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button #add:hover {
    color: #23de42;
}

.fa-trash:hover{
    color: darkred;
}
button .fa-trash{
    color:red;
}
.fa-trash{
    color: red;
    /* color: white; Optional: Change icon color to white on hover */
}


/* button:hover {
    background-color: #23de42;
} */

#tasks {
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

ul {
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

#error {
    display: none;
    color: red;
    margin-top: 10px;
}
